@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');




@media (prefers-color-scheme: light) {
    :root {
        --text: #160d1c;
        --background: #f1e9f7;
        --primary: #542772;
        --secondary: #b075d7;
        --accent: #7e2db4;
        --foreground: #48305e;
        --embedded: #120b13;
        --enabled: #bb8ed8;
        --disabled: #120918;
        --warning: #ff5e5e;
        --success: #5eff5e;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ece3f2;
        --foreground: #48305e;
        --background: #2c1d33;
        --embedded: #120b13;
        --primary: #bb8ed8;
        --secondary: #622888;
        --accent: #9c4ad2;
        --enabled: #bb8ed8;
        --disabled: #120918;
        --warning: #ff5e5e;
        --success: #5eff5e;
    }
}




:root {
    --universal-margin: 12px;
    --universal-radius: 8px;
    --directory-width: 192px;
    --directory-height: 32px;
    --directory-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
    --hamburger-size: 24px;
}



/* Universal */
h1, h2, h3, h4, h5 {
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body {
    font-family: 'Inter', serif;
    font-weight: 400;
    color: var(--text);
}

/* Universal Box */
.box {
    box-sizing: border-box;
    border-radius: var(--universal-radius);
}



/* Page Body */
body {
    /* Object */
    background-color: var(--foreground);
    margin: var(--universal-margin); padding: 0;

    /* Alignment */
    flex-shrink: 0;
}
#main {
    /* Object */
    height: calc(100vh - var(--universal-margin) * 2);

    /* Alignment */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--universal-margin);
}

/* Primary Segmentation */
#top {
    /* Object */
    height: var(--directory-height);

    /* Alignment */
    display: flex;
    flex-shrink: 0;
    gap: var(--universal-margin);
}
#bottom {
    /* Object */
    height: calc(100% - var(--directory-height) - var(--universal-margin));

    /* Alignment */
    display: flex;
    flex-shrink: 0;
    justify-content: right;
    gap: var(--universal-margin);
}

/* Secondary Segmentation (Directory) */
#directory {
    /* Object */
    width: var(--directory-height);
    height: calc(var(--directory-height));
    background-color: var(--embedded);
    border-radius: var(--universal-radius);
    transition: var(--directory-transition);

    /* Alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
#hamburger {
    /* Object */
    width: calc(var(--directory-height));
    height: calc(var(--directory-height));
    background-color: var(--background);
    border-radius: var(--universal-radius);

    /* Alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#hamburger > img {
    /* Object */
    width: var(--hamburger-size);
    height: var(--hamburger-size);
}

/* Secondary Segmentation (Topbar) */
#topbar {
    /* Object */
    width: 100%;
    background-color: var(--background);
    border-radius: var(--universal-radius);
    padding: calc(var(--universal-radius));
}

/* Secondary Segmentation (Content) */
#content {
    /* Object */
    width: calc(100% - var(--directory-width) - var(--universal-margin));
    background-color: var(--embedded);
    border-radius: var(--universal-radius);
    padding: calc(var(--universal-radius));
    transition: var(--directory-transition);
}



/* Sidebar Widget */
#sidebar {
    /* Object */
    width: var(--directory-width);
    height: calc(100% - var(--directory-height) - 3 * var(--universal-margin));
    background-color: var(--embedded);
    border-radius: var(--universal-radius);
    padding: calc(var(--universal-radius));
    transition: var(--directory-transition);
    transform: translateX(calc(-1 * var(--directory-width) - var(--universal-margin)));

    /* Alignment */
    position: absolute;
    top: calc(var(--directory-height) + 2 * var(--universal-margin));
    left: var(--universal-margin);
    flex-shrink: 0;
}



















