/* Page Styling */
body {
    background: rgb(204,204,204);
    width: 8.5in;
    height: 11.0in;
    margin: 0 auto;
}
page {
    background: white;
    display: block;
    margin: 0 auto 0.5cm;
    position: relative;
}
page[size="A4"] {
    width: 8.5in;
    height: 11.0in;
}
@page {
    size: 8.5in 11.0in;
    margin: 0mm;
}
.page {

}
