/* Tile Variables */
:root {
    --tile-width: 250px;
    --tile-bevel: 25px;
    --tile-shadow: 10px;
    --tile-time: 0.25s;
}


/* Tile Grid */
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}



/* Individual Tile */
.tile {
    position: relative;
    place-items: center;
    background: slategray;

    width: var(--tile-width);
    height: calc(var(--tile-width) + var(--tile-shadow));
    margin: 1.5rem;
    border-radius: var(--tile-bevel);
    transition: all var(--transition);
}

.tile:hover {
    transition: all var(--tile-time);
    transform: scale(1.1);
}

.tile > a > img {
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-width);
    border-radius: var(--tile-bevel);
}