:root {
    --tile-default-color: slategray;
    --tile-size: 250px;
    --tile-margin: 1.5rem;
    --tile-bevel: 25px;
    --tile-shadow: 10px;

    --tile-scale-on-hover: 1.1;
    --tile-scale-time: 250ms;

    --tile-header-delay: 100ms;
    --tile-header-time: 1000ms;
    --tile-text-delay: 350ms;
    --tile-text-time: 1000ms;
}

.grid { display: flex; flex-flow: row wrap; justify-content: center; }

.grid > .tile {
    position: relative;
    background: var(--tile-default-color);
    width: var(--tile-size);
    height: calc(var(--tile-size) + var(--tile-shadow));
    margin: var(--tile-margin);
    border-radius: var(--tile-bevel);
    transition: all var(--tile-scale-time);
}
.grid > .tile:hover {
    transform: scale(var(--tile-scale-on-hover));
}

.grid > .tile > img {
    position: absolute;
    object-fit: cover;
    width: var(--tile-size);
    height: var(--tile-size);
    border-radius: var(--tile-bevel);
    transition: all var(--tile-scale-time);
}
.grid > .tile:hover > img {
    filter: brightness(50%)
}

.grid > .tile > .overlay {
    position: absolute;
    margin: var(--tile-bevel);
}

.grid > .tile > .overlay> h1 {
    color: white;
    margin-top: 0%;
    opacity: 0;
    transition: 0s;
    transform: translate(calc(-0.75 * var(--tile-bevel)), 0);
}
.grid > .tile:hover > .overlay> h1 {
    opacity: 1;
    transition: var(--tile-header-time);
    transition-delay: var(--tile-header-delay);
    transform: translate(0px, 0);
}

.grid > .tile > .overlay> p {
    color: white;
    opacity: 0;
    transition: 0s;
    transform: translate(calc(-0.75 * var(--tile-bevel)), 0);
}
.grid > .tile:hover > .overlay> p {
    opacity: 1;
    transition: var(--tile-text-time);
    transition-delay: var(--tile-text-delay);
    transform: translate(0px, 0);
}