/* CSS Variables */
:root {
    --page-padding: 50px;
    --tab-spacing: 50px;
}

/* Box Classes */
.tab-bar {
    /* Geometry */
    height: 50px;
    padding: 0 var(--page-padding);
    margin: 0;

    /* Flex */
    display: flex;
    justify-content: center;
    gap: var(--tab-spacing);
}

/* Box Objects */

/* Item Classes */
.tab {
    /* Transition */
    transition: var(--theme-transition);
}
.tab:hover {
    /* Text */
    color: var(--text-highlight);

    /* Cursor */
    cursor: pointer;
}

/* Item Objects */
#title {
    /* Characteristics */
    padding: 75px var(--page-padding) 25px var(--page-padding);
    margin: 0;

    /* Text */
    color: var(--text-highlight);
    font-size: 4rem;
    font-weight: normal;

    /* Flex */
    display: flex;
    justify-content: center;

    /* Transition */
    transition: var(--theme-transition);
}
