:root {
    /* Card Variables */
    --card-height: 350px;
    --card-width: 250px;
    
    /* Intro Animation Variables */
    --intro-anim-lift-height: 25px;
    --intro-anim-card-gap: 50px;

    /* Corner Card Variables */
    --corner-top: 15%;
    --corner-left: 25%;
    --shift-factor: 0.65;



    /* Calculated Variables */
    --card-half-height: calc(var(--card-height) / 2);
    --card-half-width: calc(var(--card-width) / 2);
    --intro-anim-slide-width: calc(var(--card-width) + var(--intro-anim-card-gap));

    --corner-top-gap: var(--corner-top);
    --corner-bottom-gap: calc(100% - var(--corner-top));
    --corner-left-gap: calc(var(--corner-left) - var(--card-half-width));
    --corner-right-gap: calc(100% - var(--corner-left) + var(--card-half-width));
    
    --dx-ul: calc(50% - var(--corner-left-gap)) * var(--shift-factor);
    --dz-ul: calc(50% - var(--corner-top-gap)) * var(--shift-factor);
    --dx-ur: calc(50% - var(--corner-right-gap)) * var(--shift-factor);
    --dz-ur: calc(50% - var(--corner-top-gap)) * var(--shift-factor);
    --dx-bl: calc(50% - var(--corner-left-gap)) * var(--shift-factor);
    --dz-bl: calc(50% - var(--corner-bottom-gap)) * var(--shift-factor);
    --dx-br: calc(50% - var(--corner-right-gap)) * var(--shift-factor);
    --dz-br: calc(50% - var(--corner-bottom-gap)) * var(--shift-factor);
}


/* media query for mobile */
@media screen and (max-width: 1100px) {
    :root {
        --corner-top: -10%;
        --corner-left: 45%;
        --shift-factor: 0.9;
    }
}









  


/* Card Object Styles */
.card {
    position: absolute;
    
    height: var(--card-height);
    width: var(--card-width);
    margin-top: calc(-1 * var(--card-half-height));
    margin-left: calc(-1 * var(--card-half-width));
    border-radius: 20px;
    
    transition: all 0.75s cubic-bezier( 0.62, 0.17, 0.31, 0.87 );
}

.card > img {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 40px;
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.card > h1 {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    pointer-events: none;
}

.card > hr {
    position: relative;
    top: 40px;
    width: 50%;
    border: 1px solid #000;
    pointer-events: none;
}

.card > p {
    position: relative;
    top: 35px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    color: #000;
    letter-spacing: .2rem;
    pointer-events: none;
}



/* Introduction Animation States */
.center-left-0 {
    top:calc(50%);
    left:calc(50%);
}
.center-left-1 {
    top:calc(50% - var(--intro-anim-lift-height));
    left:calc(50%);
}
.center-left-2 {
    top:calc(50% - var(--intro-anim-lift-height));
    left:calc(50% - var(--intro-anim-slide-width));
    transition: all 1s cubic-bezier( 0.62, 0.17, 0.31, 0.87 );
}
.center-left-3 {
    top:calc(50%);
    left:calc(50% - var(--intro-anim-slide-width));
    transition: all 1s cubic-bezier( 0.62, 0.17, 0.31, 0.87 );
}
.center-left-4 {
    top:calc(50%);
    left:calc(50% - var(--card-width));
}



/* Default Position States */
.center-left-centered {
    top:calc(50%);
    left:calc(50% - var(--card-half-width));
    
}
.center-right-centered {
    top:calc(50%);
    left:calc(50% + var(--card-half-width));
    
}
.ul-default {
    background-color: #1e2225;
    top: var(--corner-top-gap);
    left: var(--corner-left-gap);
    
}
.ur-default {
    background-color: #1e2225;
    top: var(--corner-top-gap);
    left: var(--corner-right-gap);
    
}
.bl-default {
    background-color: #1e2225;
    top: var(--corner-bottom-gap);
    left: var(--corner-left-gap);
    
}
.br-default {
    background-color: #1e2225;
    top: var(--corner-bottom-gap);
    left:var(--corner-right-gap);
    
}



/* Shift Up-Left States */
.center-left-ul {
    top: calc( 50% + var(--dz-ul));
    left: calc(50% - var(--card-half-width) + var(--dx-ul));
    
}
.center-right-ul {
    top: calc(50% + var(--dz-ul));
    left: calc(50% + var(--card-half-width) + var(--dx-ul));
    
}
.ul-on-ul {
    top: calc(var(--corner-top-gap) + var(--dz-ul));
    left: calc(var(--corner-left-gap) + var(--dx-ul));
    
}
.ur-on-ul {
    top: calc(var(--corner-top-gap) + var(--dz-ul));
    left: calc(var(--corner-right-gap) + var(--dx-ul));
    
}
.bl-on-ul {
    top: calc(var(--corner-bottom-gap) + var(--dz-ul));
    left: calc(var(--corner-left-gap) + var(--dx-ul));
    
}
.br-on-ul {
    top: calc(var(--corner-bottom-gap) + var(--dz-ul));
    left:calc(var(--corner-right-gap) + var(--dx-ul));
    
}



/* Shift Up-Right States */
.center-left-ur {
    top: calc( 50% + var(--dz-ur));
    left: calc(50% - var(--card-half-width) + var(--dx-ur));
    
}
.center-right-ur {
    top: calc(50% + var(--dz-ur));
    left: calc(50% + var(--card-half-width) + var(--dx-ur));
    
}
.ul-on-ur {
    top: calc(var(--corner-top-gap) + var(--dz-ur));
    left: calc(var(--corner-left-gap) + var(--dx-ur));
    
}
.ur-on-ur {
    top: calc(var(--corner-top-gap) + var(--dz-ur));
    left: calc(var(--corner-right-gap) + var(--dx-ur));
    
}
.bl-on-ur {
    top: calc(var(--corner-bottom-gap) + var(--dz-ur));
    left: calc(var(--corner-left-gap) + var(--dx-ur));
    
}
.br-on-ur {
    top: calc(var(--corner-bottom-gap) + var(--dz-ur));
    left:calc(var(--corner-right-gap) + var(--dx-ur));
    
}



/* Shift Botton-Left States */
.center-left-bl {
    top: calc( 50% + var(--dz-bl));
    left: calc(50% - var(--card-half-width) + var(--dx-bl));
    
}
.center-right-bl {
    top: calc(50% + var(--dz-bl));
    left: calc(50% + var(--card-half-width) + var(--dx-bl));
    
}
.ul-on-bl {
    top: calc(var(--corner-top-gap) + var(--dz-bl));
    left: calc(var(--corner-left-gap) + var(--dx-bl));
    
}
.ur-on-bl {
    top: calc(var(--corner-top-gap) + var(--dz-bl));
    left: calc(var(--corner-right-gap) + var(--dx-bl));
    
}
.bl-on-bl {
    top: calc(var(--corner-bottom-gap) + var(--dz-bl));
    left: calc(var(--corner-left-gap) + var(--dx-bl));
    
}
.br-on-bl {
    top: calc(var(--corner-bottom-gap) + var(--dz-bl));
    left:calc(var(--corner-right-gap) + var(--dx-bl));
    
}



/* Shift Botton-Right States */
.center-left-br {
    top: calc( 50% + var(--dz-br));
    left: calc(50% - var(--card-half-width) + var(--dx-br));
    
}
.center-right-br {
    top: calc(50% + var(--dz-br));
    left: calc(50% + var(--card-half-width) + var(--dx-br));
    
}
.ul-on-br {
    top: calc(var(--corner-top-gap) + var(--dz-br));
    left: calc(var(--corner-left-gap) + var(--dx-br));
    
}
.ur-on-br {
    top: calc(var(--corner-top-gap) + var(--dz-br));
    left: calc(var(--corner-right-gap) + var(--dx-br));
    
}
.bl-on-br {
    top: calc(var(--corner-bottom-gap) + var(--dz-br));
    left: calc(var(--corner-left-gap) + var(--dx-br));
    
}
.br-on-br {
    top: calc(var(--corner-bottom-gap) + var(--dz-br));
    left:calc(var(--corner-right-gap) + var(--dx-br));
    
}













/* ID Settings */
#shadow {
    background-color: #1e2225;
    opacity: 50%;
    top: 50%;
}
#card-cl {
    background-color: tan;
}
#card-cr {
    background-color: rgb(173, 153, 125);
}
#card-ul {
    background-color: tan;
}
#card-ur {
    background-color: tan;
}
#card-bl {
    background-color: tan;
}
#card-br {
    background-color: tan;
}




.clickable { cursor: pointer; }
.half-brightness { filter: brightness(50%); }




/* Set the background to a slate gray */
body {
    background-color: #2c3e50;
    overflow: hidden; /* Hide scrollbars */
}