#shadow {
    background-color: #1e2225;
    opacity: 50%;
    top: 50%;
}

#card-cl {}

#card-cr {
    background-color: rgb(173, 153, 125);
}

#card-ul {}

#card-ur {}

#card-bl {}

#card-br {}

#card-ul2 {}

#card-ur2 {}

#card-bl2 {}

#card-br2 {}