:root {
    /* Background Colors */
    --background: rgb(204,204,204);
    --page-background: white;

    /* Text Colors */
    --text-black: #000000;
    --text-blue: #524fd6;
    --text-gray: #9a9a9a;

    /* Text Sizes */
    --text-size-header: 1.5em;
    --text-size-section: 1.2em;
    --text-size-subsection: 1.0em;

    /* Document Styling */
    --page-width: 8.5in;
    --page-height: 11.0in;
    --page-margin: 0.60in;

    /* Section Paddings */
    --section-padding: 0.5cm;
    --list-padding: 0.5em;
    --list-spacing: 1.15em;
}