:root {
    --text: #a499af;
    --text-highlight: #fcf5ff;
    --titlebar: #000000;
    --background: #252525;
}

#youtube, #logo {
    filter: brightness(75%);
}

#linkedin, #github, #theme {
    filter: invert(1);
}

#language {
    background-color: var(--background) !important;
}