/* Page Styling */
body {
    /* Size */
    margin: 0;

    /* Color */
    background: var(--background);

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

page {
    /* Size */
    width: calc(var(--page-width) - 2 * var(--page-margin));
    padding: var(--page-margin);

    /* Color */
    background: var(--page-background);

    /* Flex */
    /* Make it a 1 column that spans the whole page */
    display: flex;
    flex-direction: column;
    /* Space out each item in the column by a fixed width */
    gap: var(--section-padding);
}