/* Project Boxes */
#projects-list {}
.projects-item {}
.projects-item > .header {
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projects-item > .header > .left {
    /* Flex */
    display: flex;
    flex-direction: column;
}
.projects-item > .header > .right {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Item Classes */
.projects-item > .header > .left > .title {
    /* Text */
    color: var(--text-blue);
    font-weight: bold;
    text-decoration: none;
}
.projects-item > .header > .left > .place {
    /* Text */
    color: var(--text-black);
    text-decoration: none;
}
.projects-item > .header > .right > .date {
    /* Text */
    color: var(--text-black);
    font-style: italic;
    text-decoration: none;
}
.projects-item > .list {
    list-style-type: ">   ";
    margin: var(--list-padding) 0 0 0;
    line-height: var(--list-spacing);
}
.projects-item > p {
    margin: var(--list-padding) var(--list-padding) 0 var(--list-padding);
    line-height: var(--list-spacing);
}
