/* Universal CSS Variables */
:root {
    --text: #4f3e67;
    --text-highlight: #11001c;
    --background: #c9c2d8;
}

/* Increased accessibility  */
.text-highlight {
    text-decoration: underline;
}