/* Universal CSS Variables */
:root {
    --text: #4f3e67;
    --text-highlight: #11001c;
    --background: #c9c2d8;
}

/* Increased accessibility  */
.sdev-header__navigation-link[aria-current="page"],
.sdev-header__language-link[aria-current="language"],
.sdev-header__theme-link[aria-current="theme"]
{
    text-decoration: underline !important;
}
.sdev-header__navigation-link:hover {
    text-decoration: underline;
}